$appIconSize = 58px
$basePadding = 10px

$promoBackgroundColor = #353535
$promoTextColor = #ccc
$appIconColor = #76B91E

$promoFontBig = 1.07rem
$promoFontMedium = 0.9rem
$promoFontSmall = 0.81rem

.app-promo
  position relative
  z-index 100
  display flex
  padding $basePadding ($basePadding / 2) $basePadding 0

  background-color #191919
  background linear-gradient(top, $promoBackgroundColor, darken($promoBackgroundColor, 40%))
  color $promoTextColor

.app-promo-close
  padding ($basePadding / 2)
  padding-top 0
  font-size 1.3rem
  font-weight bold
  line-height 1
  background-color rgba(0,0,0,0)
  color $promoTextColor
  flex-shrink 0
  align-self flex-start

.app-icon
  width $appIconSize
  height $appIconSize
  border-radius $basePadding
  background-color $appIconColor
  flex-shrink 0

.app-details
  flex auto
  padding 0 $basePadding
  line-height 1.25
  font-size $promoFontMedium

  > .app-title
    font-size $promoFontBig
    font-weight bold

  > .app-company
    font-size $promoFontSmall

  > .app-store-info
    font-weight bold

.app-open-container
  flex-shrink 0
  display flex
  align-items center

  > .app-open
    width 4.5em
    color white
    background #72b51f
    border-radius 2px
    padding ($basePadding / 2) 0
    font-size $promoFontMedium

.app-open-spinner
  spinnerSize = 15px

  height spinnerSize
  width @height
  margin 0 auto
  animation rotation 0.7s infinite linear
  border-top 2px solid rgba(255, 255, 255, 1)
  border-left 2px solid rgba(255, 255, 255, .3)
  border-right 2px solid rgba(255, 255, 255, .3)
  border-bottom 2px solid rgba(255, 255, 255, .3)
  // WARN: border-radius doesn't work on Android 2.x but specifying radius for each corner does
  border-top-left-radius spinnerSize
  border-top-right-radius spinnerSize
  border-bottom-left-radius spinnerSize
  border-bottom-right-radius spinnerSize

@keyframes rotation
  from
    transform rotate(0deg)
  to
    transform rotate(359deg)

.app-rating
  display flex
  align-items center
  font-size $promoFontSmall

.app-stars
  margin-right ($basePadding / 2)
  width 49px
  height 9px
  display block
  image-background('images/app-star-rating.png')

  &.rating-50
    background-position 0 0
  &.rating-40
    background-position -10px 0
  &.rating-30
    background-position -20px 0
  &.rating-20
    background-position -30px 0
  &.rating-10
    background-position -40px 0
  &.rating-0
    background-position -50px 0
  &.rating-5
    background-position -40px -11px
  &.rating-15
    background-position -30px -11px
  &.rating-25
    background-position -20px -11px
  &.rating-35
    background-position -10px -11px
  &.rating-45
    background-position 0 -11px
